*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background-color: var(--secondary-color);
}

:root
{
  --primary-color:green;
  --secondary-color:white;
}

.test
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.test h1
{
  color: black;
}